__pycache__/datasets.cpython-313.pyc
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
model/forward/__pycache__/interaction.cpython-313.pyc
model/forward/__pycache__/layer.cpython-313.pyc
model/forward/__pycache__/minimizer.cpython-313.pyc
model/forward/__pycache__/network.cpython-313.pyc
model/function/__pycache__/cost.cpython-313.pyc
model/function/__pycache__/interaction.cpython-313.pyc
model/function/__pycache__/network.cpython-313.pyc
model/minimizer/__pycache__/minimizer.cpython-313.pyc
model/resistive/__pycache__/interaction.cpython-313.pyc
model/resistive/__pycache__/layer.cpython-313.pyc
model/resistive/__pycache__/minimizer.cpython-313.pyc
model/resistive/__pycache__/network.cpython-313.pyc
model/variable/__pycache__/layer.cpython-313.pyc
model/variable/__pycache__/parameter.cpython-313.pyc
model/variable/__pycache__/variable.cpython-313.pyc
papers/universal-drn/drn-vs-dnn/DRN-EP/1/events.out.tfevents.1746554941.klineputer.local.29443.0
papers/universal-drn/drn-vs-dnn/DRN-EP/1/model.pt
papers/universal-drn/drn-vs-dnn/DRN-EP/1/time_series.pkl
training/__pycache__/epoch.cpython-313.pyc
training/__pycache__/monitor.cpython-313.pyc
training/__pycache__/sgd.cpython-313.pyc
training/__pycache__/statistics.cpython-313.pyc
*.pt
*.pyc
events.out.*
*.pkl
.DS_Store